# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake-build-debug directory
cmake-build-debug/
/.vs
/out/build
/out
/out
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-98f794791e62c3ef99de.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2024-04-19T18-03-29-0990.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_allctr_allctr_bdds_sstm_tests-Debug-f0ba127e3ab0c1fc1cc3.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_allctr_allctr_bndr_tgs_tests-Debug-a3f597d305ab0cdd4e82.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_allctr_allctr_glbl_hp_tests-Debug-36d17d03eef6229ee3f2.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_allctr_allctr_rb_tr_tests-Debug-b87e2e3796c1e30ff4ab.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_allctr_allctr_srtd_lst_tests-Debug-fdd81be67c0b6833fc25.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_assctv_cntnr_srch_tr_bnr_srch_tr_AVL_tr_tests-Debug-c2b31545f70477f2d8a9.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_assctv_cntnr_srch_tr_bnr_srch_tr_rb_tr_tests-Debug-3d893ac8c5a486e39a08.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_assctv_cntnr_srch_tr_bnr_srch_tr_scpgt_tr_tests-Debug-eda30b1924fe2dfe0b57.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_assctv_cntnr_srch_tr_bnr_srch_tr_spl_tr_tests-Debug-e95ddcf291eddddf2ae0.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_assctv_cntnr_srch_tr_bnr_srch_tr_tests-Debug-5ed1109e1bb292f66d0e.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_lggr_clnt_lggr_tests-Debug-1a5ac28c6f1ed25c93e9.json
out/build/x64-Debug/.cmake/api/v1/reply/target-mp_os_lggr_srvr_lggr_tests-Debug-92b288a904f44310fd3b.json
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/allocator/allocator/CMakeFiles/mp_os_allctr_allctr.dir/mp_os_allctr_allctr.pdb
out/build/x64-Debug/allocator/allocator_buddies_system/CMakeFiles/mp_os_allctr_allctr_bdds_sstm.dir/mp_os_allctr_allctr_bdds_sstm.pdb
out/build/x64-Debug/allocator/allocator_buddies_system/tests/CMakeFiles/mp_os_allctr_allctr_bdds_sstm_tests.dir/vc140.pdb
out/build/x64-Debug/allocator/allocator_global_heap/CMakeFiles/mp_os_allctr_allctr_glbl_hp.dir/mp_os_allctr_allctr_glbl_hp.pdb
out/build/x64-Debug/allocator/allocator_global_heap/tests/CMakeFiles/mp_os_allctr_allctr_glbl_hp_tests.dir/vc140.pdb
out/build/x64-Debug/build.ninja
out/build/x64-Debug/CMakeFiles/rules.ninja
out/build/x64-Debug/logger/client_logger/CMakeFiles/mp_os_lggr_clnt_lggr.dir/mp_os_lggr_clnt_lggr.pdb
out/build/x64-Debug/logger/client_logger/tests/CMakeFiles/mp_os_lggr_clnt_lggr_tests.dir/vc140.pdb
out/build/x64-Debug/logger/client_logger/tests/file1.txt
out/build/x64-Debug/logger/client_logger/tests/file2.txt
out/build/x64-Debug/logger/client_logger/tests/file3.txt
out/build/x64-Debug/logger/client_logger/tests/mp_os_lggr_clnt_lggr_tests.ilk
out/build/x64-Debug/logger/client_logger/tests/mp_os_lggr_clnt_lggr_tests.pdb
out/build/x64-Debug/Testing/Temporary/LastTest.log
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/mp_os/v17/ipch/AutoPCH/fcf4ecd43d37e19e/CLIENT_LOGGER_BUILDER.ipch
.vs/mp_os/v17/ipch/AutoPCH/b0724600de0dc09a/ALLOCATOR_BOUNDARY_TAGS.ipch
.vs/mp_os/v17/ipch/AutoPCH/5d17c6bf679f942/CLIENT_LOGGER.ipch
.vs/mp_os/v17/ipch/AutoPCH/4ee09c5000b1270c/ALLOCATOR_BUDDIES_SYSTEM_TESTS.ipch
.vs/mp_os/v17/ipch/AutoPCH/3e73400fc3a753e1/CLIENT_LOGGER_TESTS.ipch
.vs/mp_os/v17/ipch/AutoPCH/3a12bc2547a5f45a/SPLAY_TREE_TESTS.ipch
.vs/mp_os/v17/ipch/AutoPCH/11e7f3b3f3525/BINARY_SEARCH_TREE_TESTS.ipch
.vs/mp_os/v17/DocumentLayout.json
.vs/mp_os/v17/Browse.VC.db
.vs/mp_os/v17/.wsuo
.vs/mp_os/FileContentIndex/aa3c7244-2bdf-40c1-9cda-c9056e6526c5.vsidx
.vs/mp_os/FileContentIndex/858c1dc5-5bd0-4389-b4f7-b8e7e9e5d6e8.vsidx
.vs/mp_os/FileContentIndex/5ed5edfa-e785-4ccd-90f0-917124b6fc89.vsidx
.vs/mp_os/FileContentIndex/1e411ea2-2e05-4472-965a-f74127c42c9d.vsidx
.vs/cmake.db
/.vs
.vs/mp_os/v17/ipch/AutoPCH/4ee09c5000b1270c/ALLOCATOR_BUDDIES_SYSTEM_TESTS.ipch
.vs/mp_os/v17/ipch/AutoPCH/751351808d2d6aca/LOGGER.ipch
.vs/mp_os/v17/ipch/AutoPCH/b0724600de0dc09a/ALLOCATOR_BOUNDARY_TAGS.ipch
.vs/mp_os/v17/ipch/AutoPCH/f84a062795554766/ALLOCATOR_BOUNDARY_TAGS_TESTS.ipch
